/* projects.html */
.projects-section {
    padding: 2rem 0;
}

.project-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 960px;
  
    background-color: #F8F4EE;
    border: 2px solid #D4C4B7;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  }

.project-row.reverse {
    flex-direction: row-reverse;
}

.project-image img {
    width: 340px;
    height: 240px;
    object-fit: cover;
    border-radius: 12px;
}

.project-info {
    max-width: 400px;
}

.project-info h3 {
    margin: 0;
}

.project-info .view-project {
    display: inline-block;
    margin: 0.5rem 0;
    color: #E59A86;
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: underline;
}


@media (max-width: 768px) {
    .project-row, .project-row.reverse {
      flex-direction: column;
      align-items: flex-start;
    }

    .project-image img {
        width: 100%;
        height: auto;
    }

    .project-info {
        max-width: 100%;
    }
}

.button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: 17px;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    border-radius: 500px;
    overflow: hidden;
    background: #97AAD7;
    color: black;
    z-index: 0; 
  }
   
.button span {
    position: relative;
    z-index: 1;
    transition: color 0.4s;
}
   
.button:hover span {
    color: ghostwhite;
}
   
.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
   
.button::before {
    content: "";
    background: #F7C281;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
   
.button:hover::before {
    transform: translate3d(100%, 0, 0);
}

#oof-wrapper {
    padding: 1em;
    background-color: #F2C0B8;
    background-image: linear-gradient(to bottom right, #F2C0B8, #404AE3);
}

#vojo-wrapper {
    padding: 1em;
    background-color: #FFEBE7;
}

#dataset-wrapper {
    padding: 1em;
    background-color: #F6DE7A;
}



.wrapper {
    background-color: #F7F2EC;
    padding: 2em;
    width: 100%;
    max-width: 95%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.left-section {
    flex: 1;
    text-align: left;
}

.left-section h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.right-section {
    flex: 1;
    text-align: center;
}

.right-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-section {
    padding: 2em;
    background-color: #f7f2ec;
}

.info-section h2 {
    text-align: center;
    margin-bottom: 1em;
}

.info-section table {
    width: 100%;
    border-collapse: collapse;
}

.info-section table th,
.info-section table td {
    padding: 1em;
    text-align: left;
}

.info-section table th {
    background-color: #ddd;
    font-weight: bold;
}

.photo-section {
    padding: 2em;
    text-align: center;
}

.photo-section h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #3d4449;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.photo-gallery figure {
    flex: 1 1 calc(50% - 1em); 
    max-width: 50%; 
    margin: 0;
    text-align: center;
}

.photo-gallery img {
    max-width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.photo-gallery img:hover {
    transform: scale(2);
}

.photo-gallery figcaption {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #666;
}


.iframe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
    
.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.iphone-iframe {
    position: relative;
    width: 360px; 
    padding-top: 190%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px; 
}
    
.iphone-iframe iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p {
    font-size: 1.2em;
    font-family: "Sofia Pro Light"
}

h3 {
    font-size: 1.5em; 
}

h5 {
    font-size: 1.2em;
}


.header-section {
    position: relative;
    height: 30vh; 
    display: flex;
    justify-content: center;
    align-items: center;
	z-index: 1;
    margin-bottom: 30px;;
}

.header-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/oof-sleep-tracker/oof19.png');
    background-size: cover;
    background-position: center;
    background-color: #F7F2EC;
    opacity: 0.3;
    z-index: -5; 
} 

#tiny-font{
    font-size:0.7em; 
 }

.proj-section {
    display: flex; 
    justify-content: space-between;
}

.proj-section .proj-image {
   width: 100%;
   height: auto; 
   display: block;
}

.proj-section .image img.proj-image {
    width: 100%;
    height: auto;
    display: block;
}



@media (max-width: 768px) {
    .proj-section {
        flex-direction: column;
        align-items: center;
    }

    .proj-section figure {
        width: 100%;
        max-width: 100%;
    }

    .proj-section img {
        width: 100%;
        height: auto;
    }
}


.slideshow-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .slideshow-container {
    max-width: 55%;
    position: relative;
    margin: auto;
  }
  
  .image-counter {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #3d4449;
    font-size: 1em;
    padding: 5px;
    border-radius: 3px;
  }
  
  .mySlides1, .mySlides2 {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #3d4449;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    color: #BAD6EB;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  .slideshow1 .mySlides1:first-child 
  .slideshow2 .mySlides2:first-child{
    display: block;
  }
  
/* Results Section */
.results-section {
    text-align: center;
    padding: 2em;
    background-color: #f8f5f1;
}

.results-section h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.results-section p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 2em;
}

.results-metrics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.metric {
    flex: 1 1 calc(25% - 1em); 
    text-align: center;
    max-width: 200px; 
}

.metric .percentage {
    font-size: 3em;
    font-weight: bold;
    color: #3d4449;
    display: block;
    margin-bottom: 0.5em;
}

.metric p {
    font-size: 1em;
    color: #666;
}

@media (max-width: 768px) {
    .metric {
        flex: 1 1 calc(50% - 1em);
    }
}

@media (max-width: 480px) {
    .metric {
        flex: 1 1 100%;
    }
}


  
/* oof sleep tracker */

.jump-button-container {
    text-align: center;
    margin: 2rem 0;
}

.jump-button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #E6B8BB;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.5s;
    text-decoration: none;
    display: inline-block;
}
  
.jump-button:hover {
    background-color: #9C86CF;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

  